<div class = "container">
	<div id = "loading">AJAX VERIFICATION</div>
	<h1>Check-ins So Far <%= @count %> </h1>
	<div id = "notification">Notification placeholder</div>
	
	<p class = "test">jQuery Test</p>
	<!-- <p><%= link_to "Refresh", update_path %></p> DEPRECATED--> 	
	<p><%= link_to "Sort By Date Edited", sort_date_path, remote:true %></p>
	<p><%= link_to "Sort By Status", sort_status_path, remote:true %></p>
	<%= link_to "Refresh AJAX", ajax_path, class: "ajax", remote:true %>
	<%= image_tag "ajax-loader.gif", id: "ajax-loader" %>
	<table class = "table">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Status</th>
			<th>Last Updated</th>
		</tr>
		<tbody id = "ajax">
			<%= render @users %>
		</tbody>
	</table>
</div>
<script>
	$(document).ready(function() {
		$("#ajax-loader").hide();
    $("p.test").click(function() {
      $(this).hide();
    });   
  });
$(document).bind("ajaxSend", function(){
   $(".ajax").text("Loading");
   $("#ajax-loader").show();
 }).bind("ajaxComplete", function(){
   $(".ajax").text("Refresh AJAX");
   $("#ajax-loader").hide();
 });
</script>