<div class = "container">
	
	<p class = "test">jQuery Test</p>
	<p>Sort By:
	<%= link_to "Name", sort_name_path, remote:true %> 
	 |
	<%= link_to "Date Edited", sort_date_path, remote:true %>
	 | 
	<%= link_to "Status", sort_status_path, remote:true %>
	 | 
	</p>
	<%= link_to "Refresh AJAX", refresh_path, class: "ajax", remote:true %>	
	<%= link_to "NFC", nfc_path, remote:true %>
	<div class="alert alert-success checkin-prompt" id="success" role="alert">
	  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  Login Succesful
	</div>
	<div class="alert alert-danger checkin-prompt" id="alreadylogged"  role="alert">
	  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  <span class="sr-only">Error:</span>
	  Already logged in</div>
	</div>
	<div class="alert alert-danger checkin-prompt" id="invalid" role="alert">
	  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  <span class="sr-only">Error:</span>
	  No record found
	</div>
	<div id = "nfc">NFC</div>
	<%= image_tag "ajax-loader.gif", id: "ajax-loader" %>
	<input type = "checkbox" class = "task-check">AutoRefresh</input>
	<table class = "table table-bordered table-striped table-hover">
		<tr>
			<th>Name</th>
			<th>Card Serial</th>
			<th>Student ID </th>
			<th>Status</th>
			<th>Last Updated</th>
			<th>Action</th>
		</tr>
		<tbody id = "ajax">
			<%= render @users %>
		</tbody>
	</table>
</div>
<script>
	$(document).ready(function() {
		$("#ajax-loader").hide();
    $("p.test").click(function() {
      $(this).hide();
    });
    //$(".checkin-prompt").hide();
    $(".task-check").bind('change', function(){
	  if (this.checked){
	    (function worker() {
		  $.ajax({
		    url: "<%= refresh_path %>", 
		    complete: function() {
		      // Schedule the next request when the current one's complete
		      setTimeout(worker, 5000);
		    }
		  });
		})();
	  }
}); 
  });
$(document).bind("ajaxSend", function(){
   $(".ajax").text("Loading");
   $("#ajax-loader").show();
 }).bind("ajaxComplete", function(){
   $(".ajax").text("Refresh AJAX");
   $("#ajax-loader").hide();
 });

</script>