<tr>
	<td><%= user.name %></td>
	<td><%= user.card_no %></td>
	<td><%= user.student_id %></td>
	<td><%= user.status %></td>
	<td><%= user.updated_at.localtime %></td>
	<td>
	<% if user.status == 'unused' %>
		<%= form_for user, remote:true do |f| %>
		<%= f.hidden_field :status, value: "used" %>
		<%= f.submit "Check In" %>
		<% end %>
	<% end %>
	</td>
</tr>